/* Write your global styles here, in PostCSS syntax */

@tailwind base;
@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

p,
button {
  margin: 0;
  font-family: monospace;
}

@tailwind components;

@tailwind utilities;
